# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries and Executables
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.dylib
*.exe
*.out
*.app

# Build directories (Commonly used names)
[Bb]uild/
[Oo]ut/
[Bb]in/

# IDE specific files
.vs/
.idea/
*.user

# Python venv
.venv/